/* Controles UI ACHS */
/* CSS de la Aplicación de Componentes */
/* Desarrollado por Continuum Lltda. 2010 */
/*=============================*/

/****Tipografia*******/

@font-face { font-family: DINWeb; src: url(../fonts/DINWeb.eot); }
@font-face { font-family: DINWeb; src: url(../fonts/DINWeb.woff) format("woff"); }
@font-face { font-family: DINWeb-Medium; src: url(../fonts/DINWeb-Medium.eot); }
@font-face { font-family: DINWeb-Medium; src: url(../fonts/DINWeb-Medium.woff) format("woff"); }
@font-face { font-family: DINWeb-Black; src: url(../fonts/DINWeb-Black.eot); }
@font-face { font-family: DINWeb-Black; src: url(../fonts/DINWeb-Black.woff) format("woff"); }



body {
	padding:0;
	margin:0;
	background:#EBEDEC;
	font-family:'DinWeb', Helvetica, Arial, sans-serif;
}

/* Forms */

form {
	padding:0;
	margin:0;
	outline:0px;
}

/* Títulos */

h1 {
	font-family:'DinWeb', Helvetica, Arial, sans-serif;
	font-size:20px;
	margin:0;
	color:#333;
	letter-spacing:-1px;
	text-align: right;
}

a {
	color:#333;
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}

/* Aplicacion */

.content-header-app {
	background:#FFF;
	position: fixed;
	width: 100%;
	border-bottom: 4px solid #24823A;
	z-index: 100;
}

.header-app {
	width:980px;
	margin:0 auto;
	font-size:12px;
	padding:65px 0 20px 0;
	background:url(../images/achs-logo.png) no-repeat 0 18px;
}

.footer-app {
	width:980px;
	margin:0 auto;
}

.footer-app h6 {
	margin:35px 5px;
	text-align:left;
	color:#666;
	text-shadow:0 1px 0 #FFFFFF;
}

.content-app {
	background:#EBEDEC;
	padding-top:130px;
}

.app {
	width:980px;
	margin:0 auto;
	font-size:12px;
	background:#F1F1F1;
	overflow:hidden;
	-webkit-box-shadow: 0 0 3px #999;
	-moz-box-shadow: 0 0 3px #999;
	-o-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
}

.app .sidebar {
	width:250px;
	float:left;
	padding:30px 10px 10px 20px;
	*width:225px;
}

.app .sidebar ul {
	margin-bottom:25px;
	padding: 0;
	margin-top: 10px;
}

.app .sidebar ul li {
	text-decoration:none;
}

.app .sidebar a {
	text-decoration:none;
	padding:10px 0;
	border-bottom:1px dotted #ccc;
	display:block;
	outline:0px;
	color:#666
	font-size:13px;
}

.app .sidebar a:hover {
	background:#f1f1f1;
}

.app .sidebar a.last {
	border-bottom:none;
}

.app .content {
	width:635px;
	float:left;
	padding:30px;
	min-height:995px;
	background: #FFF;
}

.app .content h2 {
	font-family: 'DinWeb', Arial, sans-serif;
	font-size:24px;
	color:#006600;
	margin:0;
	padding:18px 0 0 0;
	display:block;
	text-transform: uppercase;
}

.app .content p {
	line-height:18px;
}

.app .sidebar h3 {
	font-family: 'DinWeb', Arial, sans-serif;
	font-size:16px;
	margin:0;
	padding:18px 0;
	display:block;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	color: #25823B;
	font-weight: normal;
	line-height: 23px;
	padding:5px 0;
	border-bottom:3px solid #CB7A00;
	display: inline-block;
	*float: left;
	*height: 30px;
}

.detalle-componente {
	color:#666;
	line-height:18px;
	margin:18px 0;
}

.codigo-componente {
	margin:15px 0 30px 0;
	border-top:1px solid #eee;
	padding-top:10px;
}

.codigo-componente pre {
	font-family: Monaco;
	background-color:#F1F1F1;
	overflow:auto;
	padding:14px;
	-webkit-box-shadow:inset 0 0 6px #ddd;
	-moz-box-shadow:inset 0 0 6px #ddd;
	box-shadow:inset 0 0 6px #ddd;
	border:1px solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	font-size: 14px;
}

.app .content h4 {
	font-family: 'DinWeb', Arial, sans-serif;
	font-weight:normal;
	font-size:18px;
	margin-bottom:12px;
	margin-top:30px;
	display:block;
	letter-spacing: -0.05em;
}

.clearline {
	border-bottom: 1px solid #CB7A00;
	clear: both;
	position: relative;
	top: -2px;
}

.codigo-componente .classList li {
	margin:3px 0;
}

.codigo-componente .doc-nav {
	overflow:hidden;
	background:#ddd;
	margin:2px 0
}

.codigo-componente .doc-nav li {
	float:left;
}

.codigo-componente .datePickerBox {
	float:none;
}

.codigo-componente .component-search .datePickerBox {
	float:left;
}

.componente a {
	color:#090;
	text-decoration:none;
}

.componente a:hover{
	color:#0c0;
	text-decoration:underline;
}

.new{
	width: 25px;
	*height: 10px;
	vertical-align: middle;
	padding: 2px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #F51D1F;
	font-weight: bold;
	color: white;
	font-size: 7px;
	text-transform: uppercase;
	margin: 1px 4px 0 0;
	float:right;
}

.color_palette{
	overflow:hidden;
	border: 1px solid #ccc;
	padding: 6px;
}

.color_palette li{
	display:block;
	font-size: 14px;
  padding: 26px;
  text-align: center;
  width: 102px;
	float:left;
	border-bottom:1px solid #FFF;
	border-right:1px solid #fff;

}

.clasificaciones td,
.clasificaciones th{

	font-size:12px;
	border-bottom:1px solid #ddd;
	text-align:left;
	padding:8px 55px 8px 6px;
}